/* custom animation for css */
.animation {
    animation: MoveUpDown 5s ease-in-out infinite alternate-reverse both;
}

/* custom function keyframe */
@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
}
